*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    max-width: 100%;
    min-height: 100vh;
    background-color: #141414;
    /*background-image: url("images/dark.jpg");*/
    
  
}
.box{
    position: fixed;
    width: 100%;
    height: 100vh; 
    background-color: black;
    
    
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 0.7s ;
}
.logo path{
    stroke-dasharray: 2229;
    stroke-dashoffset: 2229;
    animation: text-anim 5s ease forwards;
}
@keyframes text-anim {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}
@keyframes splash {
    from{
        top:0;
    }
    to{
        top: -100vh;
    }
}
.all{
scroll-snap-type: y proximity;
overflow-y: scroll;
height: 100vh;
}
section{
  height: 100vh;
  scroll-snap-align: start;
}
#icon__img{
    margin-top: 15px;
    margin-left: 15px;
    max-width: 100px;
    height: auto;
    margin-right: 0;
}

.intro{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 50px;
    font-family: 'Rum Raisin', sans-serif;
    display: flex;
    background-image: linear-gradient(90deg, #141C26, transparent);
    padding: 50px;
    border-radius: 50px;
}
#header{
    display: block;
}
#intro__header{
    color: #EA445A;
    opacity: 0;
    animation: appear 0.7s ease-out 2s forwards
}
#intro__desc{
    color: lightcyan;
    opacity: 0;
    animation: appear 0.7s ease-out 3s forwards
}
@keyframes appear{
    100%{
        opacity: 1;
    }
}
#intro__img{
    max-width: 320px;
    height: auto;
    border-radius: 50px;
    margin-left: 20px;
    object-fit: cover;
}

#intro__header{
    font-size: 80px;
    font-weight: 200;
}

#intro__desc{
    font-size: 40px;
    font-weight: 200;
}
#container{
    display: flex;
    justify-content: space-between;
}

#about{
    display: block;
    margin-left: 200px;
    margin-top: 50px;
    font-family: 'Rum Raisin', sans-serif;;
}

#about__title{
    font-size: 60px;
    font-weight: 200;
    color: orange;
}
.about__text{
    color: lightcyan;
    font-size: 30px;
    font-weight: 200;
    max-width: 500px;
    font-family: 'Teko', sans-serif;;
}
#social{
  display: flex;
  justify-content: space-around;

}
#social img{
  font-size: 48px;
}
.resume{
    margin-top: 250px;
    margin-right: 250px;
}
#resume{
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: #BD1E51;
    text-decoration: none;
    font-family:'Teko', sans-serif; 
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#resume:hover{
    background-color: white;
    color: #BD1E51;
}

.icons{
    color: white;
    margin-top: 50px;
}
.book{
    border: 2px white;
    padding: 5px;
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rum Raisin', sans-serif;;
}
#projects{
    font-size: 60px;
    font-weight: 200;
    color: orange;
    margin-bottom: 20px;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;  
    max-width: 916px;
    width: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 450px;
    transition: 0.5s ease-in-out;  
  }
  .card img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .card .xter{
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition:0.5 all;

  }
  .card .xter h4{
    font-size: 25px;
  }
  .card .xter button{
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  .card .xter button:hover{
    box-shadow: 0px 7px 10px #141C26;
  }
  .card:hover .xter{
    opacity: 1;
  }
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    inset: 1px;
    padding: 30px;
    position: absolute;
    z-index: 2;
  }
  .card:hover{
    transform: translateY(8px);
  }
  .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #6157ff, #ee49fd);
    z-index: 2;
    transition:0.5 all;
    opacity: 0;
  }
  .card:hover::before{
    opacity: 1;
  }
#skills{
  margin-top: 100px;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
#skills__title{
    font-size: 60px;
    font-weight: 200;
    color: orange;
    font-family: 'Rum Raisin', sans-serif;
    text-align: center;
}
#skill__data{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    max-width: 916px;
    width: calc(100% - 20px);
}
.skill{
    background-color: #fff9d2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    height: 70px;
    position: relative;
    width: 300px;
    justify-content: space-around;
    transition: 0.5s ease-in-out;
}
.skill:hover{
  transform: translateY(10px);
}
.skill p{
    color: #141C26;
    font-size: 30px;
}
.skill img{
    max-width: 48px;
    height: 48px;
    object-fit: cover;
}
.skill__info{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
#face{
    color: antiquewhite;
    width: 20px;
}
#github{
    width: 50px;
}
footer img {
    margin: 10px;
}
#social{
   right: 0;
   bottom: 0;
}
#social-title{
    color: black;
    font-size: 30px;
    font-family: 'Rum Raisin', sans-serif;
}
.home{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    font-family: 'Rum Raisin', sans-serif;
    color: lightskyblue;
    font-weight: 700;
   left: auto;
}
.contact{
    border-radius: 20px;
    height: 100vh;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.contact h1{
  font-size: 60px;
  font-weight: 200;
  color: orange;
  font-family: 'Rum Raisin', sans-serif;
  text-align: center;
}
.contact input[type=text],
.contact input[type=email],
.contact textarea {
  display: block;
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.contact textarea {
  resize: vertical;
}

.contact label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.contact button[type=submit],
.contact button[type=reset] {
  display: block;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 10px 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.contact button[type=submit],
.contact button[type=reset]:hover {
  background-color: #0069d9;
}