*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    max-width: 100%;
    min-height: 100vh;
    background-color: #141414;
}
#icon__img{
    margin-top: 15px;
    margin-left: 15px;
    max-width: 100px;
    height: auto;
    margin-right: 0;
}
.project{
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    color: lightskyblue;
    font-family: 'Rum Raisin', sans-serif;;
}
.project-title{
    font-size: 30px;
    font-weight: 700;
    color: aqua;
    font-family:'Teko', sans-serif; 
}
.group{
    display: flex;
}
.project-info{
    margin: 10px;
    color: lightcyan;
    font-size: 30px;
    font-weight: 200;
    max-width: 500px;
    font-family: 'Teko', sans-serif;;
}
#mazi{
    width: 750px;
    height: auto;
    border: black 1px solid;
    border-radius: 10px;
    margin-top: 20px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    object-position: center;
}
a{
    text-decoration: underline;
    color: #fff;
}
a:hover{
    color: aqua;
}